Bilgi Yarışması ödevi...(örnek)*italik metin* **kalın metin** ***kalın metin***

In [15]:
print("Çılgın bilgi yarışmasına hoş geldiniz?")
print(50*"*")
ad= input("Adınızı yazınız: ")
puan = 0
sorular = ["Türkiyenin başkenti neresidir?","Dünyada nüfusu en çok olan ülke neresidir?"]
secenekler = [["A)Ankara", "B)İstanbul", "C)İzmir", "D)Adana"],["A)Japonya", "B)ABD", "C)Çin","D)Hindistan"]]
cevaplar = ["A", "C"]

#1. soruyu ekrana basalım
print("1.", sorular[0])
print(secenekler[0])
cevap = input("Cevap şıkkını yazınız: ")

#cevabı kontrol etmeliyiz
if cevap.upper() == cevaplar[0]:
  puan = puan+10
  print("Cevabın doğru. Tebrikler")
  print("Puanın: ", puan)
else:
  print("Maalesef cevabın yanlış.")
  print("Şu an puanın: ", puan)

#2. soruyu ekrana basalım
print("2.", sorular[1])
print(secenekler[1])
cevap = input("Cevap şıkkını yazınız: ")

#cevabı kontrol etmeliyiz
if cevap.upper() == cevaplar[1]:
  puan = puan+10
  print("Cevabın doğru. Tebrikler")
  print("Puanın: ", puan)
else:
  print("Maalesef cevabın yanlış.")
  print("Şu an puanın: ", puan)

print("Yarışmamız tamamlandı: Tebrikler: ", ad)

Çılgın bilgi yarışmasına hoş geldiniz?
**************************************************
Adınızı yazınız: jelibon
1. Türkiyenin başkenti neresidir?
['A)Ankara', 'B)İstanbul', 'C)İzmir', 'D)Adana']
Cevap şıkkını yazınız: a
Cevabın doğru. Tebrikler
Puanın:  10
2. Dünyada nüfusu en çok olan ülke neresidir?
['A)Japonya', 'B)ABD', 'C)Çin', 'D)Hindistan']
Cevap şıkkını yazınız: c
Cevabın doğru. Tebrikler
Puanın:  20
Yarışmamız tamamlandı: Tebrikler:  jelibon

## Döngüler

In [ ]:
#in operatörü

In [16]:
"a" in "merhaba"

True

In [17]:
"x" in "merhaba"

False

In [18]:
"mer" in "merhaba"

True

In [19]:
5 in [1,2,3,4,5,6,7,8,9]

True

In [ ]:
#For Döngüsü

In [23]:
rakamlar = [0,1,2,3,4,5,6,7,8,9]
for eleman in rakamlar:
  print(eleman)

0
1
2
3
4
5
6
7
8
9

In [24]:
siniflar = [9,10,11,12]
for eleman in  siniflar:
  print(eleman,". Sınıf")

9 . Sınıf
10 . Sınıf
11 . Sınıf
12 . Sınıf

In [29]:
#ardışık sayıların toplamı

liste = [1,2,3,4,5,6,7,8,9,10]
toplam = 0
for eleman in liste:
  #toplam +=eleman
  toplam = toplam+eleman
print("Toplam:", toplam)

Toplam: 55

In [49]:
#bir listedeki sayıların teki çift olarak ayırmak

liste = [1,2,3,4,5,6,7,8,10]
tekSayilar = []
ciftSayilar = []
for eleman in liste:
  if eleman %2 == 0:
    ciftSayilar.append(eleman)
  else:
    tekSayilar.append(eleman)


print(50*"*")
print("Tek sayılar: ", tekSayilar)
tekToplam =0
for eleman in tekSayilar:
  tekToplam +=eleman
print("Tek sayıların toplamı: ", tekToplam)
print("Tek saylar:", len(tekSayilar), "tanedir")
print("Tek sayıların ortalması:", tekToplam/len(tekSayilar))


print(50*"*")
print("Çift sayılar: ", ciftSayilar)
ciftToplam =0
for eleman in ciftSayilar:
  ciftToplam +=eleman
print("Çift sayıların toplamı: ", ciftToplam)
print("Çift saylar:", len(ciftSayilar), "tanedir")
print("Çift sayıların ortalması:", ciftToplam/len(ciftSayilar))

**************************************************
Tek sayılar:  [1, 3, 5, 7]
Tek sayıların toplamı:  16
Tek saylar: 4 tanedir
Tek sayıların ortalması: 4.0
**************************************************
Çift sayılar:  [2, 4, 6, 8, 10]
Çift sayıların toplamı:  30
Çift saylar: 5 tanedir
Çift sayıların ortalması: 6.0

In [54]:
ad = "Merve"
for kakter in ad:
  print("*",kakter.upper())

* M
* E
* R
* V
* E

In [57]:
sayi ="4567898765432456786543245676543234567876543234567876543456787654324567"
liste = []
for eleman in sayi:
  liste.append(eleman)
  
print(liste)

['4', '5', '6', '7', '8', '9', '8', '7', '6', '5', '4', '3', '2', '4', '5', '6', '7', '8', '6', '5', '4', '3', '2', '4', '5', '6', '7', '6', '5', '4', '3', '2', '3', '4', '5', '6', '7', '8', '7', '6', '5', '4', '3', '2', '3', '4', '5', '6', '7', '8', '7', '6', '5', '4', '3', '4', '5', '6', '7', '8', '7', '6', '5', '4', '3', '2', '4', '5', '6', '7']

In [61]:
sayi ="4567345678765434567654345678654345676543456787654345678"
liste = []
toplam = 0
for eleman in sayi:
  liste.append(int(eleman))
  toplam += int(eleman)
  
print(liste)
print("Sayı listesinin rakamları toplamı: ", toplam)

[4, 5, 6, 7, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3, 4, 5, 6, 7, 6, 5, 4, 3, 4, 5, 6, 7, 8, 6, 5, 4, 3, 4, 5, 6, 7, 6, 5, 4, 3, 4, 5, 6, 7, 8, 7, 6, 5, 4, 3, 4, 5, 6, 7, 8]
Sayı listesinin rakamları toplamı:  293

In [62]:
elma = "Elma"
for eleman in elma:
  print(3*eleman)

EEE
lll
mmm
aaa

In [ ]:
#Ödev-1: toplayacağımız sayılar iki basamaklı ise(yukarıdaki örneğe uygun!)
#Ödev-2: Bilgi yarışmasını for döngüsü kullanarak kodlayınız